{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Country Table</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2">
                                <button class="btn btn-sm iq-bg-success"><i class="ri-add-fill"><span class="pl-1"><a
                                                href="/myadmin/add_country" class="text-success">Add New</a></span></i>
                                </button>
                            </span>
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in result %}
                                    <tr>
                                        <td contenteditable="true">{{row.country}}</td>
                                        <td>
                                            <a class="btn iq-bg-danger btn-rounded btn-sm my-0" href="/myadmin/delete_country/{{row.id}}">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}